<li data-id='<%= madlib.id %>'><%= madlib.proper_noun %> <%= madlib.verb %> over the <%= madlib.adjective %> <%= madlib.noun %>.
  	  
<%= button_to "delete", mad_lib_path(madlib), :method => "delete", :remote => true %>
</li>


