<li data-id='<%= mad_lib.id %>'><%= mad_lib.proper_noun %> <%= mad_lib.verb %> over the <%= mad_lib.adjective %> <%= mad_lib.noun %>.
❦ <%= link_to "reject", mad_lib_path(mad_lib), :method => "delete", :remote => true %> 
</li>


